* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
.container-wrapper {
	width: 70vw;
	margin: 0 auto;
	overflow: hidden;
}
.main {
	width: 100%;
	padding: 3px;
	border: 3px solid brown;
	border-bottom: none;
}
.header {
	width: 100%;
}
.header img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-position: center;
}
.content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 10px;
	margin: 10px 0;
}
.left-nav {
	display: flex;
	flex-direction: column;
}
.left-nav button {
	background-color: transparent;
	border: 1px solid brown;
	outline: none;
	width: 100%;
	padding: 15px 0;
	background-image: url("/Public/bgmenu.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 8px;
	margin-bottom: 5px;
}
.left-nav button:hover {
	transform: scale(1.04) translate3d(0, 0, 0);
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 8px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.left-nav button a {
	display: block;
	text-decoration: none;
	font-weight: 600;
	font-size: 15px;
	text-align: left;
	margin-left: 10px;
	color: #9a0e0b;
}
.left-nav section a {
	display: block;
	border: 2px solid brown;
	margin-bottom: 5px;
}
.right-nav {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.right-nav .search {
	display: flex;
	gap: 5px;
}

.right-nav a {
	display: block;
	border: 2px solid brown;
}
.right-nav a:hover {
	border: 3px solid brown;
}
.right-nav a img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.news h4 {
	margin-bottom: 10px;
}
.news h4 span {
	color: green;
}
.news p {
	text-indent: 20px;
}
.site-footer {
	background-color: #fd312d;
	padding: 20px;
	font-size: 15px;
	line-height: 24px;
	color: #fff;
}
.site-footer hr {
	border-top-color: #bbb;
	opacity: 0.5;
}
.site-footer hr.small {
	margin: 20px 0;
}
.site-footer h6 {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px;
}
.site-footer a {
	color: #fff;
}
.site-footer a:hover {
	color: #3366cc;
	text-decoration: none;
}
.footer-links {
	padding-left: 0;
	list-style: none;
}
.footer-links li {
	display: block;
}
.footer-links a {
	color: #fff;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
	color: #3366cc;
	text-decoration: none;
}
.footer-links.inline li {
	display: inline-block;
}
.site-footer .social-icons {
	text-align: right;
}
.site-footer .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
	background-color: #33353d;
}
.copyright-text {
	margin: 0;
	width: 100%;
	text-align: center;
}
