/* h1 {
  text-align: center;
} */
#question {
  padding-right: 50px;
}
/* ul {
  list-style: none;
  padding: 0%;
}
ul li:hover {
  border: 1px solid #fff;
  background-color: #fff;
  width: 200px;
}
ul li {
  border: 1px solid #fff;
  background-color: #ccc;
  width: 200px;
}
li.selected {
  background-color: rgb(41, 230, 97);
} */
