*,html, body {
  margin: 0;
}
.sidebar-left h1 {
  text-align: left Im !important;
  font-size: 30px !important;
  margin: 0 !important;
}
.sidebar-left {
  width: 400px;
  margin-right: 60px;
  padding: 20px;
}
.sidebar-left ul{
  padding: 0;
}
.sidebar-left li {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
}
.sidebar-left a{
  color: blue !important;
}
.sidebar-left a:hover {
  text-decoration: none !important;
}

.content-right {
  margin: 0  40px;
  min-height: 100vh;
}
.content-body {
  margin-top: 40px !important;
}