* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: end;
  background-color: black;
  padding: 10px;
  height: 50px;
}

main {
  display: flex;
}

.left {
  width: 250px;
  /* background-color: yellow; */
  height: calc(100vh - 50px);
}

.left img{
  width: 250px;
  height: 500px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

th img,
td img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.detail {
  display: flex;
}

.detail div {
  width: 50%;
  padding: 20px;
}

.detail p {
  margin-top: 30px;
}
