.login_box {
    margin-bottom: 10px;
  }
  .login_box input {
    padding: 7.5px 15px;
    width: 93%;
    border: 1px solid #cccccc;
    outline: none;
    height: 25px;
    border-radius: 12px;
  }
  
  .login-form {
    width: 200%;
    max-width: 500px;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px double #cccccc;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .add {
    text-align: center;
    margin-top: 15px;
  }

  .add button {
    padding: 15px 80px;
    border-radius: 2px;
    color: #ffffff;
    background-color: #1a9900;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 12px;
  }
  #alert {
    color: red;
  }