.calculator {
  padding: 10px;
  border-radius: 1em;
  height: 380px;
  width: 400px;
  margin: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
  font-family: "Orbitron", sans-serif;
  background-color: #dcdbe1;
  border: solid rgb(244, 241, 241) 0.5px;
  color: black;
  border-radius: 5px;
  width: 98%;
  height: 65%;
}

.button {
  font-family: "Orbitron", sans-serif;
  background-color: gray;
  border: solid grey;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 70%;
  outline: none;
}

.button:active {
  background: #e5e5e5;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}
