#tbl {
	border: solid 1px #000000;
	border-collapse: collapse;
}

#tbl td,
th {
	border: solid 1px #000000;
}

#tbl thead {
	background-color: #0d8bd3;
}

#tbl tr.oddr {
	background-color: #a5a5a5;
}

#tbl tr.evenr {
	background-color: #76f6eb;
}

#tbl tr.selectedr {
	background-color: rgb(252, 255, 102);
}

.nodisplay {
	display: none;
}

div.group-op-container {
	height: 30px;
}

tr:hover {
	background-color: rgb(24, 211, 80) !important;
	cursor: pointer;
}