* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: end;
  background-color: black;
  padding: 10px;
  height: 50px;
}

main {
  display: flex;
}

.left {
  width: 250px;
  /* background-color: yellow; */
  height: calc(100vh - 50px);
}

.left img{
  width: 250px;
  height: 500px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

td {
  border: 1px solid black;
}
